﻿@model Forum_Topic.Models.BigModel

@{
    ViewBag.Title = "Details";
}

<h2>Detail topic</h2>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.topic.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topic.description)
        </dt>

        <dd>
            @Html.Raw(Model.topic.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topic.creation_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic.creation_date)
        </dd>

        <dt>
            @Html.Label("User Creator")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic.user_forum.name)
        </dd>
    </dl>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <h4>Replies: </h4>

                @foreach (var item in Model.topic.reply)
                {

                    @Html.Label("Written by: ")
                    @Html.DisplayFor(modelItem => item.user_forum.name)
                    <br>
                    @Html.Label("Reply text: ")
                    @Html.DisplayFor(modelItem => item.description)
                    <br>
                    if (item.url_file != null)
                    {
                        @Html.ActionLink("Dowload File", "DowloadFile", new { file_name = item.url_file })
                    }
                    <br><br>
                }

                @using (Html.BeginForm("CreateReply", "Reply", new { id_topic = Model.topic.id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Write your reply")
                        <div class="col-md-10">
                            @Html.EditorFor(o => o.reply.description)
                            @Html.ValidationMessageFor(model => model.reply.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.reply.url_file, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="url_file" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.topic.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
