﻿@model IEnumerable<Forum_Topic.Models.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>Recent Topics Ordered</h2>

@using (Html.BeginForm("TopTopicUser", "Topic", FormMethod.Get))
{
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Most Topic users</button>
}


<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    @Html.ActionLink("Create", "CreateForm")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            @using (Html.BeginForm("Search", "Topic"))
            {
                <div class="input-group">
                    <input id="search" type="text" name="search_name" class="form-control" placeholder="Search Here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-lg btn-primary center-block" type="submit">Search</button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_forum.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_file)
        </th>
        <th></th>
    </tr>

    @foreach (var topic in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => topic.title)
            </td>
            <td>
                @Html.Raw(topic.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => topic.creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => topic.user_forum.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => topic.url_file)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = topic.id }) |
                @Html.ActionLink("Edit", "Edit", new { id = topic.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = topic.id }) |
                @if (topic.url_file != null)
                {
                    @Html.ActionLink("Dowload File", "DowloadFile", new { file_name = topic.url_file })
                }
            </td>
        </tr>
    }

</table>
