﻿@model IEnumerable<Forum_Topic.Models.User>

@{
    ViewBag.Title = "Most Topic Users Top 10";
}

<h2>Most Topic Users</h2>

@foreach (var item in Model)
{
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.Label("User Name:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.name)
                        </dd>

                        <dt>
                            @Html.Label("Max Number Of Topics Created: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.max_topic)
                        </dd>

                        <dt>
                            @Html.Label("Max Number Of Replies Created: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.max_reply)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
 </div>
                }
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
