﻿@model Forum_Topic.Models.User

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        @using (Html.BeginForm("ValidateLogin", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        }
                        <br>
                        @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create User</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            alert('josemi');
            //initialize CKEditor by givin id of textarea
            CKEDITOR.replace('Eso');
    </script>

}